<%= content_for :title do %>
	Quarry Business plan
	<% end %>


<div class="wrapper index">
<div class="head">
<div class="head-top"><span class="float-left">Crusher Machine from Zenith Build Your Mining Dream</span><span class="float-right"><a href="#" title="quarry business plan">Home</a> | <a href="sitemap.php" title="sitemap">Sitemap</a> | <a href="about/privacy.php" title="">Privacy</a><% unless login? %> | <%= link_to 'Login', "/user/login" %><% end %><% if login? %> | hello <%= session[:user_name] %>, <%= link_to 'Logout', "/user/logout" %><% end %> </span><p class="clear"></p></div>
<div class="head-menu">
<ul>
<li class="active"><a href="#" title="quarry business plan">Home</a></li>
<li><a href="crushers/" title="crusher machine">Crusher Machine</a></li>
<li><a href="crushers" title="quarry project case">Project Case</a></li>
<li><a href="crushers" title="quarry business solution">Quarry Solution</a></li>
<li><a href="crushers/" title="beneficiation plant">Beneficiation</a></li>
<li><a href="crushers" title="">Contact Us</a></li>
<li><a href="crushers" title="">Customize</a></li>
</ul>
<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="head-bottom">
<p class="logo-wrapper"><span class="logo"><a href="../" title="quarry mining business plan">CRUSHER MACHINE</a></span><br /> Complete plan for quarry and mining</p>
<div class="search-form">
<form action="/search/">
<input type="text" name="keyword" style="float:left;width:200px;"/>
<input type="button" value="Search" style="width:60px;;">
</form>
<br /><span>Follow Us: <a href="http://twitter.com/zenithcrusher" rel="nofollow">Twitter</a>, <a href="http://www.facebook.com/pages/Zenith/142003329170969" rel="nofollow">Facebook</a>, etc.</span></div>
</div>
<div class="clear"></div>
</div>

<div class="body">
<div class="banner"><div class="banner-text"></div><img src="<%= root_url %>/assets/image/banner.jpg" alt="" /></div>
<div class="content"><h1>Crusher Machine -- Zenith Complete Crushing Solutions</h1><br />
<blockquote>
Welcome to the Shanghai Zenith Mining and Construction Machinery Co., Ltd. Zenith is one of the biggest manufacturer in crushing and grinding industry in China.Our main product include Mobile Crusher Machine,Jaw Crusher Machine, Impact Crusher Machine,Cone Crusher Machine,Hammer Crusher Machine,Vertical Shaft Impact Crusher Machine, Ball Mill Machine,Grinding Mill Machine,Raymond Mill Machine,MTM Medium Speed Trapezium Mill Machine, Ultrafine Mill Machine and other pertinent machines and equipments such as Vibrating Feeder Machine,Vibrating Screen Machine and sand washing machine...... <br>

Zenith crusher machine and crushing plants are used for mining and extracting minerals or quarrying. The minerals such as graphite, granite, quartz, copper, limestone, cobble, gold, iron, platinum, zinc, tin, gypsum, asbestos, baryte, cement, concrete, dolomite, etc. All the minerals crushed by the crusher machine can be used as construction aggregate or metal for sale. <br>
Since the minerals are distributed all over the world, Zenith export the crusher machines to all over the world. Vietnam, Nigeria, Kenya, Angola, Congo, Sudan, Yemen, Saudi Arabia, , Oman, Kazakhstan, Uzbekistan, Algeria, Chile, Peru, Ecuador, Senegal, Indonesia, zimbabwe, Libya, Mozambique, Colorado, iran, nepal, Russia, Puerto Rico, Iraq, Botswana, Venezuela, US-FL, afghanistan, colombia, MAROC, Algeria, Zambia, Cuba, italy, paraguay, Lebanon, Vanuatu, Mongolia, GEORGIA, Canada, tunisia, Uganda, Namibia, belgium, Lao PDR, australia, SYRIA, bangkok,USA, Poland, Mexico etc.
</blockquote>
<div class="index-case">
<div class="case-head"><h4>Quarry Machine</h4><a href="javascript:void(0);" onclick="openZoosUrl('chatwin');" rel="nofollow"><img src="<%= root_url %>/assets/image/change.jpg" alt="" /></a></div>
<div class="index-gallery"><a href="crusher/jaw-crusher.php" title=""><img src="<%= root_url %>/assets/image/index-jaw.jpg" alt="" /></a><a href="beneficiation/ball-mill.php" title=""><img src="<%= root_url %>/assets/image/index-ball.jpg" alt="" /></a><a href="crusher/sand-making-machine.php" title=""><img src="<%= root_url %>/assets/image/index-vsi.jpg" alt="" /></a><a href="crusher/belt-conveyor.php" title=""><img src="<%= root_url %>/assets/image/index-belt.jpg" alt="" /></a></div>
</div>
<div class="index-case">
<h4>Quarry Business Project Cases</h4>
<div class="index-gallery2 clear"><div class="index-gallery-in"><img src="<%= root_url %>/assets/image/case1.jpg" alt="" /><h5>Quarry Business in India</h5>stone crushing plant is usually used in miniing and mining and mining.</div><div class="index-gallery-in"><img src="<%= root_url %>/assets/image/case2.jpg" alt="" /><h5>Business in Malaysia</h5>stone crushing plant is usually used in miniing and mining and mining.</div><div class="index-gallery-in"><a href="quarry-project/konongo-gold-mining-project-in-ghana.php" title="konongo gold mining project in ghana"><img src="<%= root_url %>/assets/image/case3.jpg" alt="" /></a><h5>Quarry Business in Ghana</h5>Gold mining equipment project from Zenith build up in Ghana Konongo</div><div class="index-gallery-in"><img src="<%= root_url %>/assets/image/case4.jpg" alt="" /><h5>Quarry in South Africa</h5>stone crushing plant is usually used in miniing and mining and mining.</div><div class="clear"></div></div>
<div class="clear"></div>
</div>

</div>

</div>
<div class="footer">
<p class="footer-hb"></p>
<div class="footer-in"><h5>Crushers</h5><ul>
<li><a href="crushers" title="jaw crusher in quarry business">Jaw Crusher Machine</a></li>
<li><a href="crushers" title="cone crusher in mining plant">Cone Crusher</a></li>
<li><a href="crushers"title="impact crusher in quarry business">Impact Crusher</a></li>
<li><a href="crushers" title="sand making machine in mining">Sand Making Machine</a></li>
</ul>
</div>
<div class="footer-in"><h5>Projects</h5><ul>
<li><a href="crushers" title="konongo gold mining project in ghana">Konongo Gold Mining Project</a></li>
<li><a href="crushers" title>Copper Project in Dominican</a></li>
<li><a href="crushers" title>Tulawaka Mining Project </a></li>
<li><a href="crushers" title="">Coming</a></li>
</ul>
</div>
<div class="footer-in"><h5>Beneficiation</h5><ul>
<li><a href="crushers" title="beneficiation dryer">Dryer</a></li>
<li><a href="crushers" title="magnetic separator">Magnetic Separator</a></li>
<li><a href="crushers" title="rod mill">Rod Mill</a></li>
<li><a href="crushers" title="thickener">Thickener</a></li>
</ul>
</div>
<div class="footer-in"><h5>Contact</h5><ul>
<li><a href="javascript:void(0);" onclick="openZoosUrl('chatwin');">Live Quotation</a></li>
<li><a href="javascript:void(0);" onclick="openZoosUrl('chatwin');">Online Help</a></li>
<li><a href="javascript:void(0);" onclick="openZoosUrl('chatwin');">Sales Department</a></li>
<li><a href="javascript:void(0);" onclick="openZoosUrl('chatwin');">Technical Department</a></li>
</ul>
</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
<div class="footer-message"><p><a href="legal.html" title="">Legal </a>| Shanghai Zenith Company copyright 2011-2012 quarrybusinessplan.com</p></div>
</div>