
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Name: <br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    SEO Title: <br>
    <%= f.text_field :title,:placeholder=>"use the name if title is nil" %>
  </div>
  <div class="field">
    Tags: <br>
    <%= f.text_field :tag_list,:placeholder=>"用逗号隔开"%>
  </div>
  <div class="field">
    Content: <br>
    <%= f.text_area :content, :id=>"redactor_content" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    <script type="text/javascript">
    $(document).ready(
    function()
    {
    $('#redactor_content').redactor();
    }
    );
    </script>

