
<h3>May Be Interested</h3>
<ul class="hover-li">
  <% related.each do |p| %>
    <li><%= link_to p.name, p %></li>
  <% end %>
</ul>
<h3>Beneficiation Machine</h3>
<ul class="hover-li">
  <li><a href="" title="flotation machine">Flotation Machine</a></li>
  <li><a href="" title="gravity beneficiation machine">Gravity Beneficiation Machine</a></li>
  <li><a href="" title="magnetic separation machine">Magnetic Separation Machine</a></li>
  <li><a href="" title="ceramic ball mill">Ceramic Ball Mill</a></li>
  <li><a href="" title="dryer machine in beneficiation plant">Dryer Machine Beneficiation</a></li>
</ul>
<h3>Complete Crushing Plant</h3>
<ul class="hover-a">
  <li><a href="http://quarrybusinessplan.com/complete/100-200tph-crushing-plant.php">100 - 200 TPH</a> : <a href="http://www.quarrybusinessplan.com/complete/100-200tph-crushing-plant.php#medium"> medium</a> / <a href="http://www.quarrybusinessplan.com/complete/100-200tph-crushing-plant.php#hard">hard Rock</a></li>
  <li><a href="http://www.quarrybusinessplan.com/complete/200-300tph-crushing-plant.php">200 - 300 TPH</a> : <a href="http://www.quarrybusinessplan.com/complete/200-300tph-crushing-plant.php#medium"> medium</a> / <a href="http://www.quarrybusinessplan.com/complete/200-300tph-crushing-plant.php#hard">hard Rock</a></li>
  <li><a href="http://www.quarrybusinessplan.com/complete/300-400tph-crushing-plant.php">300 - 400 TPH</a> : <a href="http://www.quarrybusinessplan.com/complete/300-400tph-crushing-plant.php#medium"> medium</a> / <a href="http://www.quarrybusinessplan.com/complete/300-400tph-crushing-plant.php#hard">hard Rock</a></li>
  <li><a href="http://www.quarrybusinessplan.com/complete/400-500tph-crushing-plant.php">400 - 500 TPH</a> : <a href="http://www.quarrybusinessplan.com/complete/400-500tph-crushing-plant.php#medium"> medium</a> / <a href="http://www.quarrybusinessplan.com/complete/400-500tph-crushing-plant.php#hard">hard Rock</a></li>
  <li><a href="http://www.quarrybusinessplan.com/complete/500-600tph-crushing-plant.php">500 - 600 TPH</a> : <a href="http://www.quarrybusinessplan.com/complete/500-600tph-crushing-plant.php#medium"> medium</a> / <a href="http://www.quarrybusinessplan.com/complete/500-600tph-crushing-plant.php#hard">hard Rock</a></li>
  <li><a href="http://www.quarrybusinessplan.com/complete/600-1000tph-crushing-plant.php">600 - 1000 TPH</a> : <a href="http://www.quarrybusinessplan.com/complete/600-1000tph-crushing-plant.php#medium"> medium</a> / <a href="http://www.quarrybusinessplan.com/complete/600-1000tph-crushing-plant.php#hard">hard Rock</a></li>
</ul>

<h3>Project Case <a href="javascript:void(0);" class="join" onclick="openZoosUrl('chatwin');" rel="nofollow">Join Us</a></h3>
<p>
  These years, with the rapidly growing requirements of crushed sand and stones, the quarry business is to be more and more prosperous. Zenith has been adapted into the quarry crusher and quarry mining plant producing for more than 20 years. The experience accumulated these years ensure the quality and production of Zenith crushers and grinders. The machines are exported to more than 100 countries and have been acclaimed by clients all over the world. Every month, we take serveral big project case from the world.  
  <img src="<%= root_url %>/assets/image/pro.jpg" alt="" class="pro-img"/><br />
  1. Higher Production ; <br />
  2. Less Cost and easy repairance ; <br />
  3. More engineers supports ;<br />
  4. Wide range of applications; <br />
  5. CE, ISO, GOST certificated <br />
</p>
<h3>Ore Crusher</h3>
<p>
  <a href="" title=""><img src="<%= root_url %>/assets/image/ore.jpg" alt="" class="float-left"/></a>
  <a href="" title=""><img src="<%= root_url %>/assets/image/ore.jpg" alt="" class="float-left"/></a>
  <a href="" title=""><img src="<%= root_url %>/assets/image/ore.jpg" alt="" class="float-left"/></a>
  <a href="" title=""><img src="<%= root_url %>/assets/image/ore.jpg" alt="" class="float-left"/></a>
  <a href="" title=""><img src="<%= root_url %>/assets/image/ore.jpg" alt="" class="float-left"/></a>
  <a href="" title=""><img src="<%= root_url %>/assets/image/ore.jpg" alt="" class="float-left"/></a>
</p>
